<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613245655462-2b45fj506r1c42ldg15qntg8ehj94n2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613245655462-2b45fj506r1c42ldg15qntg8ehj94n2k</string>
	<key>API_KEY</key>
	<string>AIzaSyAzUV05NkJ2LQCLgTIzTd41lic6Llw8e0U</string>
	<key>GCM_SENDER_ID</key>
	<string>613245655462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boxroom.axe</string>
	<key>PROJECT_ID</key>
	<string>axe-app-54fa3</string>
	<key>STORAGE_BUCKET</key>
	<string>axe-app-54fa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613245655462:ios:419a3015060a4208</string>
	<key>DATABASE_URL</key>
	<string>https://axe-app-54fa3.firebaseio.com</string>
</dict>
</plist>